@font-face {
  font-family: Poppins;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/Poppins-Regular.woff2") format('woff2');
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  font-weight: 500;
  src: url("../fonts/Poppins-Medium.woff2") format('woff2');
}


@font-face {
  font-family: Poppins;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/Poppins-SemiBold.woff2") format('woff2');
}


body {
  font-family: Poppins, sans-serif;
}


.general-container {
  display: flex;
  justify-content: space-between;
  @include media-tablet {
    width: 600px;
  }
}

