.main-page-section {
  background-color: rgba(181, 183, 192, 0.11);
  padding-top: 50px;
  padding-right: 95px;
  padding-bottom: 260px;
  padding-left: 70px;
  width: 100%;
  @include media-tablet {
    width: 800px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.main-page-section__heading {
  margin-bottom: 50px;
  display: flex;
  gap: 5px;
  align-items: baseline;
}

.main-page-section__table-wrapper {
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 60px;
  @include media-iphone-11 {
    width: 40%;
  }
  @include media-galaxy {
    width: 40%;
  }

  @include media-iphone-11-promax {
    width: 40%;
  }
}

.table {
  min-width: 970px;
  @include media-tablet {
    max-width: 700px;
  }
}

.main-page-section__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
}

.main-page-section__subheading {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  color: black;
  letter-spacing: -1%;
  margin-bottom: 20px;
}


.main-page-section__members {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(22, 192, 152, 1);
  margin-bottom: 40px;
}

.main-page-section__label-input {
  border-radius: 10px;
  background-color: #F9FBFF;
  padding: 10px;
  display: flex;
  gap: 10px;
}

.main-page-section__search-icon {
  height: 25px;
}

.main-page-section__input {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: -1%;
  color: rgba(181, 183, 192, 1);
  border: none;
}


.table__row {
  border-bottom: 1px solid #EEEEEE;
  @include media-tablet {
    display: flex;
    flex-direction: column;
    border: none;
  }
}


.table__cell {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 60px;
  min-width: 220px;

}

.table__heading {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: rgba(181, 183, 192, 1);
  letter-spacing: -1%;
  padding-bottom: 15px;
}


.table__status {
  @include media-tablet {
    width: 70%;
  }
  @include media-iphone-11 {
    width: 20%;
  }
  @include media-galaxy {
    width: 20%;
  }

  @include media-iphone-11-promax {
    width: 20%;
  }
}


.table__footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 130px;
}

.table__footer-info {
  min-width: 250px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: rgba(181, 183, 192, 1);
  padding-top: 30px;
  padding-bottom: 40px;
}

.table__footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.table__counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}


